<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curtisnewbie.module.task.dao.TaskMapper">

  <insert id="insert" parameterType="com.curtisnewbie.module.task.dao.TaskEntity">
    insert into task (id, job_name, target_bean, cron_expr,
    app_group, last_run_start_time, last_run_end_time,
    last_run_by, last_run_result, enabled, concurrent_enabled
    )
    values (#{id,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, #{targetBean}, #{cronExpr,jdbcType=VARCHAR},
    #{appGroup,jdbcType=VARCHAR}, #{lastRunStartTime,jdbcType=TIMESTAMP}, #{lastRunEndTime,jdbcType=TIMESTAMP},
    #{lastRunBy,jdbcType=VARCHAR}, #{lastRunResult}, #{enabled,jdbcType=INTEGER}, #{concurrentEnabled,jdbcType=INTEGER}
    )
  </insert>

  <update id="updateLastRunInfo">
    update task
    set
    last_run_start_time = #{lastRunStartTime},
    last_run_end_time = #{lastRunEndTime},
    last_run_result = #{lastRunResult},
    last_run_by = #{lastRunBy}
    where id = #{id}
  </update>
  <update id="updateEnabled">
    update task
    set enabled = #{enabled}
    where id = #{id}
  </update>

  <update id="updateEnabledAndResult">
    update task
    set enabled = #{enabled},
    last_run_result = #{result}
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
          resultType="com.curtisnewbie.module.task.dao.TaskEntity">
    select id, job_name, target_bean, cron_expr, app_group, last_run_start_time, last_run_end_time,
    last_run_by, enabled, concurrent_enabled, last_run_result
    from task
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultType="com.curtisnewbie.module.task.dao.TaskEntity">
    select id, job_name, target_bean, cron_expr, app_group, last_run_start_time, last_run_end_time,
    last_run_by, last_run_result, enabled, concurrent_enabled
    from task
  </select>
  <select id="findOneById" resultType="java.lang.Integer">
    select 1 from task
    where id = #{id}
  </select>
</mapper>